.hero {
    width: 100vw;
    height: 11.4375rem;
    background-image: url("../assets/Images/hero-bio.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &__container {
        width: 100vw;
        height: 11.4375rem;
        background-color: rgba($black, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: center; 
    }
    &__text {
        font-family: avenir-bold;
        font-size: 1.5rem;
        line-height: 2rem;
        color: $white;
        margin: 0 0 0 1rem;
        width: 16.875rem;
    }
}
@include medium {
    .hero {
        width: 100vw;
        height: 25rem;
        background-image: url("../assets/Images/hero-bio.jpg"); 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        &__container {
            width: 100vw;
            height: 25rem;
            background-color: rgba($black, 0.5);
            display: flex;
            flex-direction: column;
            justify-content: center; 
        }
        &__text {
            font-family: avenir-bold;
            font-size: 3.75rem;
            line-height: 4.25rem;
            color: $white;
            margin: 0 0 0 1.5rem;
            width: 31.875rem;
        }
    }   
}
@include large {
     .hero {
        width: 100vw;
        height: 41.875rem;
        background-image: url("../assets/Images/hero-bio.jpg"); 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        &__container {
            width: 100vw;
            height: 41.875rem;
            background-color: rgba($black, 0.5);
            display: flex;
            flex-direction: column;
            justify-content: center; 
        }
        &__text {
            font-family: avenir-bold;
            font-size: 3.75rem;
            line-height: 4.25rem;
            color: $white;
            margin: 0 0 0 11.25rem;
            width: 31.875rem;
        }
    }   
}