.footer {
  margin-top: 2.5rem;
  background-color: $black;
  &__main-container {
    margin: 0 1rem;
  }
  &__logo {
    visibility: hidden;
  }
  &__title {
    font-family: avenir-bold;
    font-size: 2.3rem;
    color: $white;
    margin: 0;
    padding: 3rem 0 1.5rem 0;
  }
  &__image-container {
    display: flex;
    justify-content: space-between;
    width: 135px;
    padding: 0 0 1.5rem 0;
  }
  &__management {
    display: flex;
    flex-direction: column;
    &--title {
      font-family: avenir-demi;
      font-size: 0.875rem;
      line-height: 1.375rem;
      color: $white;
      margin: 0;
      padding: 0 0 1rem 0;
    }
    &--address {
      font-family: avenir-regular;
      font-size: 0.8125rem;
      line-height: 1.125rem;
      color: $white;
      margin: 0;
      padding: 0 0 1rem 0;
      width: 54.208604vw;
    }
    &--email {
      margin: 0 0 1.5rem 0;
      &-link {
        text-decoration: none;
        font-family: avenir-regular;
        font-size: 0.8125rem;
        line-height: 1.125rem;
        color: $white;
        margin: 0;
      }
      &-link:hover {
        color: $silver;
      }
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    &--title {
      font-family: avenir-demi;
      font-size: 0.875rem;
      line-height: 1.375rem;
      color: $white;
      margin: 0;
      padding: 0 0 1rem 0;
    }
    &--address {
      font-family: avenir-regular;
      font-size: 0.8125rem;
      line-height: 1.125rem;
      color: $white;
      margin: 0;
      padding: 0 0 1rem 0;
      width: 54.208604vw;
    }
    &--email {
      margin: 0 0 1.5rem 0;
      &-link {
        text-decoration: none;
        font-family: avenir-regular;
        font-size: 0.8125rem;
        line-height: 1.125rem;
        color: $white;
        margin: 0;
      }
      &-link:hover {
        color: $silver;
      }
    }
  }

  &__entertainment {
    display: flex;
    flex-direction: column;
    &--title {
      font-family: avenir-demi;
      font-size: 0.875rem;
      line-height: 1.375rem;
      color: $white;
      margin: 0;
      padding: 0 0 1rem 0;
    }
    &--address {
      font-family: avenir-regular;
      font-size: 0.8125rem;
      line-height: 1.125rem;
      color: $white;
      margin: 0;
      padding: 0 0 1rem 0;
      width: 54.208604vw;
    }
    &--email {
      margin: 0 0 1.5rem 0;
      &-link {
        text-decoration: none;
        font-family: avenir-regular;
        font-size: 0.8125rem;
        line-height: 1.125rem;
        color: $white;
        margin: 0;
      }
      &-link:hover {
        color: $silver;
      }
    }
  }

  &__copyright {
    font-family: avenir-regular;
    font-size: 0.8125rem;
    color: $white;
    margin: 0;
    width: 66.68vw;
    padding: 0 0 1.5rem 0;
  }
}
@include medium {
  .footer {
    background-color: $black;
    &__main-container {
      margin: 0 1.5rem;
    }
    &__title {
      font-family: avenir-bold;
      font-size: 2.25rem;
      padding: 3rem 0 2.5rem 0;
    }
    &__header {
      display: flex;
      justify-content: space-between;
    }
    &__image-container {
      padding: 3rem 0 2.5rem 0;
    }
    &__logo {
      padding: 3rem 0 2.5rem 0;
      visibility: visible;
      margin-left: 136px;
    }
    &__names {
      display: flex;
      justify-content: space-between;
    }

    &__management {
      &--title {
        font-size: 1rem;
        line-height: 1.5rem;
      }
      &--address {
        font-size: 0.875rem;
        line-height: 1.25rem;
        width: 225px;
      }
      &--email {
        margin: 0;
        font-size: 0.875rem;
        line-height: 1.25rem;
        padding: 0 0 2.5rem 0;
      }
    }

    &__group {
      &--title {
        font-size: 1rem;
        line-height: 1.5rem;
      }
      &--address {
        font-size: 0.875rem;
        line-height: 1.25rem;
        width: 225px;
      }
      &--email {
        margin: 0;
        font-size: 0.875rem;
        line-height: 1.25rem;
        padding: 0 0 2.5rem 0;
      }
    }

    &__entertainment {
      &--title {
        font-size: 1rem;
        line-height: 1.5rem;
      }
      &--address {
        font-size: 0.875rem;
        line-height: 1.25rem;
        width: 225px;
      }
      &--email {
        margin: 0;
        font-size: 0.875rem;
        line-height: 1.25rem;
        padding: 0 0 2.5rem 0;
      }
    }

    &__copyright {
      font-size: 0.8125rem;
      line-height: 1.25rem;
      padding: 0 0 2.5rem 0;
    }
  }
}
@include large {
  .footer {
    background-color: $black;
    &__main-container {
      margin: 0 11.25rem;
    }
    &__title {
      font-family: avenir-bold;
      font-size: 2.25rem;
      width: 220px;
      padding: 3rem 0 3.5rem 0;
    }
    &__header {
      display: flex;
      justify-content: space-between;
    }
    &__image-container {
      padding: 3rem 0 3.5rem 0;
      justify-content: space-evenly;
    }
    &__facebook {
      padding: 0 2rem;
    }

    &__logo {
      padding: 3.5rem 0 3rem 32rem;
      visibility: visible;
      margin: 0;
    }
    &__names {
      display: flex;
      justify-content: flex-start;
    }

    &__management {
      &--title {
        font-size: 1rem;
        line-height: 1.5rem;
        padding-bottom: 1.5rem;
        padding-right: 3.25rem;
      }
      &--address {
        font-size: 0.875rem;
        line-height: 1.25rem;
        width: 225px;
        padding-bottom: 1.5rem;
      }
      &--email {
        font-size: 0.875rem;
        line-height: 1.25rem;
        padding: 0 0 2.5rem 0;
      }
    }

    &__group {
      &--title {
        font-size: 1rem;
        line-height: 1.5rem;
        padding-bottom: 1.5rem;
        padding-right: 3.25rem;
      }
      &--address {
        font-size: 0.875rem;
        line-height: 1.25rem;
        width: 225px;
        padding-bottom: 1.5rem;
      }
      &--email {
        font-size: 0.875rem;
        line-height: 1.25rem;
        padding: 0 0 2.5rem 0;
      }
    }

    &__entertainment {
      &--title {
        font-size: 1rem;
        line-height: 1.5rem;
        padding-bottom: 1.5rem;
        padding-right: 3.25rem;
      }
      &--address {
        font-size: 0.875rem;
        line-height: 1.25rem;
        width: 225px;
        padding-bottom: 1.5rem;
      }
      &--email {
        font-size: 0.875rem;
        line-height: 1.25rem;
        padding: 0 0 2.5rem 0;
      }
    }

    &__copyright {
      font-size: 0.8125rem;
      line-height: 1.25rem;
      padding: 0 0 2.5rem 0;
    }
  }
}